*:focus {
  outline: none !important;
}

body {
  place-items: start !important;
}

.text-weight-bold,
.text-weight-bold > * {
  font-weight: bold !important;
}

.text-weight-medium,
.text-weight-medium > * {
  font-weight: 500 !important;
}

.text-weight-bolder,
.text-weight-bolder > * {
  font-weight: 900 !important;
}

.darker {
  filter: brightness(0.8);
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-left: none !important;
  border-right: none !important;
}

.ql-container.ql-snow {
  border-bottom: none !important;
}
